{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}character_sheet.add.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}character_sheet.add.title{% endtrans %}</h1>
	</br>
    {{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form', 'novalidate': 'novalidate'} }) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
	$( 'body' ).on('change', '#add_character_sheet_menu_rol_game', function() {
		var rol_game_id = $('#add_character_sheet_menu_rol_game');
		var form = $(this).closest('form');
		
        var data = rol_game_id.serialize();

        $.ajax({
            url : form.attr('action'),
            type: form.attr('method'),
            data : data,
            success: function(html) {
            	if ($('#add_character_sheet_character_sheet_template').length) {
            		$('#add_character_sheet_character_sheet_template').replaceWith($(html).find('#add_character_sheet_character_sheet_template'));
            	}
            	else {
                    $('#form').replaceWith($(html).find('#form'));
                }     
            }
        });
    });
</script>
{% endblock %}