#/web/bundles/
#/app/bootstrap.php.cache

#Data base configuration. We use alike.
#/app/config/parameters.yml

#Logs/cache/sessions
var/logs/
var/cache/
var/sessions

#Files needed for git.
!var/cache/.gitkeep
!var/logs/.gitkeep

#/app/phpunit.xml
/build/
/bin/
/composer.phar
#/vendor/
/vendor/

#PhpStorm
.idea/

#Eclipse
.project

#web
web/css
web/js