/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assetic/
/web/bundles/
/web/fonts/
/web/images/


#/web/bundles/
#/app/bootstrap.php.cache

#Data base configuration. We use alike.
#/app/config/parameters.yml

#Logs/cache/sessions
#var/logs/
#var/cache/
#var/sessions

#Files needed for git.
#!var/cache/.gitkeep
#!var/logs/.gitkeep

#/app/phpunit.xml
#/build/
#/bin/
#/composer.phar
#/vendor/
#/vendor/

#PhpStorm
.idea/

#Eclipse
.project

#web
web/css
web/js









