#/web/bundles/
#/app/bootstrap.php.cache

#Cache
var/cache/

#Data base configuration. We use alike.
#/app/config/parameters.yml

#Logs
var/logs/

#Files needed for git.
!var/cache/.gitkeep
!var/logs/.gitkeep

#/app/phpunit.xml
/build/
/bin/
/composer.phar
#/vendor/
/vendor/

#PhpStorm
.idea/

#Eclipse
.project