<script type="text/javascript">

	function subscribeGamemasterSettings(payload) {
		switch(payload.option) {
		case "game_session_request_edit":
			var game_session = JSON.parse(payload.game_session_json);
			popupEditGameSession(game_session);
			break;
		case "change_game_session_name":
			changeGameSessionName(payload.game_session_name);
			break;
		case 'game_session_invalid_edit':
			var game_session = JSON.parse(payload.game_session_json);
			var error_messages = JSON.parse(payload.error_messages_json);
			popupEditGameSession(game_session, error_messages);
			break;
		case 'manage_users_request':
			if (payload.other_users_connected_json) {
				var other_users_connected = JSON.parse(payload.other_users_connected_json);
				popupManageUsers(other_users_connected);
			}
			else {
				popupManageNoUsers();
			}
			break;
		}
	}

	function popupManageNoUsers () {
		var title = "{% trans %}secondary_menu.settings.manage_users.title{% endtrans %}";

		var body = "{% trans %}secondary_menu.settings.manage_users.no_other_users_connected{% endtrans %}";
		
		var footer = "";
		
		usePopup(title, body, footer);
	}

	function popupManageUsers (other_users_connected) {
		var title = "{% trans %}secondary_menu.settings.manage_users.title{% endtrans %}";

		var body = '';

		for (var other_user_connected in other_users_connected) {
			body = body + ' \
			<div id="form" class="form-inline"> \
				<div class="form-group"> \
					<label class="control-label">'+other_users_connected[other_user_connected]+'</label> \
				</div> \
		        &nbsp; \
		        <div id="remove_user" class="form-group"> \
		        	<button type="submit" id="'+other_users_connected[other_user_connected]+'" class="btn btn-danger">'+"{% trans %}secondary_menu.settings.manage_users.remove_button{% endtrans %}"+'</button> \
		        </div> \
	        </div></br>';
		}
		
		var footer = "";

		usePopup(title, body, footer);
	}

	function editGameSessionWrong (error_messages) {
		var title = "{% trans %}game_session.edit.wrong.title{% endtrans %}";
		var body = error_messages;
		var footer = "";
					
		usePopup(title, body, footer);
	}

	function popupEditGameSession(game_session, error_messages) {
		var title = "{% trans %}game_session.edit.title{% endtrans %}";
		
		var body =' \
			<form name="form" method="post" action="" id="form_edit_game_session" novalidate="novalidate" class="form-horizontal" role="form"> \
			    <div class="form-group"><label class="control-label col-lg-2">'+"{% trans %}game_session.name{% endtrans %}"+'</label><div class="col-lg-5"><input type="text" id="form_name" name="form[name]" class="form-control" value="'+game_session.name+'"></div></div> \
			    <div class="form-group"><label class="control-label col-lg-2">'+"{% trans %}game_session.password{% endtrans %}"+'</label><div class="col-lg-4"><input type="text" id="form_password" name="form[password]" class="form-control" value="'+game_session.password+'"></div></div> \
			    <div class="form-group"><label class="control-label col-lg-2">'+"{% trans %}game_session.comments{% endtrans %}"+'</label><div class="col-lg-7"><textarea id="form_comments" name="form[comments]" class="form-control">'+game_session.comments+'</textarea></div></div> \
		    </form>';

		if (error_messages) {
			var body_error = '<div id="edit_error">';

			for (var count_error_messages = 0;
				count_error_messages < error_messages.length;
				count_error_messages++) {

				var actual_error = error_messages[count_error_messages];
				body_error = body_error + actual_error + '</br>';
			}

			body = body_error + "</div></br>" + body;
		}
	
		var footer = '<button id="game_session_remove_submit_button" type="button" class="btn btn-danger btn-lg pull-left" data-dismiss="modal">'+"{% trans %}game_session.remove.submit{% endtrans %}"+'</button> \
					<button id="game_session_edit_submit_button" type="button" class="btn btn-primary btn-lg"  data-dismiss="modal">'+"{% trans %}game_session.edit.submit{% endtrans %}"+'</button>';	

		usePopup(title, body, footer);
	}

	function changeGameSessionName (game_session_name) {
		$( '#game_session_name' ).text(game_session_name);
	}

</script>