<div id="menu_options" class="navbar navbar-inverse navbar-twitch left-menu">
	<div class="container">
		<ul class="nav navbar-nav">
			<li id="request_character_sheet_button">
				<a href='javascript:void(0)'>
					<span class="small-nav" data-toggle="tooltip" data-placement="right" title="{% trans %}navigation_sidebar.request_character_sheets{% endtrans %}"> 
						<span class="glyphicon glyphicon-file"></span> 
					</span>
				</a>
			</li>
			<li id="dice_open_panel_button">
				<a href='javascript:void(0)'>
					<span class="small-nav" data-toggle="tooltip" data-placement="right" title="{% trans %}navigation_sidebar.dice{% endtrans %}"> 
						<span class="glyphicon glyphicon-th-large"></span> 
					</span>
				</a>
			</li>
			<li id="map_open_panel_button">
				<a href='javascript:void(0)'>
					<span class="small-nav" data-toggle="tooltip" data-placement="right" title="{% trans %}navigation_sidebar.map{% endtrans %}"> 
						<span class="glyphicon glyphicon-th"></span> 
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>