{% extends 'base.html.twig' %}

{% block title %}{% trans %}add_character_sheet.successful.title{% endtrans %}{% endblock %}

{% block body %}
Need translations
	<h1>{% trans %}add_character_sheet.successful.title{% endtrans %}</h1>
	</br>
	<h3>You not have permission to access this site</h3>

{% endblock %}