{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}game_session.already_users_connected.title{% endtrans %}{% endblock %}

{% block body %}
	<h3>{% trans %}game_session.already_users_connected.message {% endtrans %}</h3>
{% endblock %}