{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}game_session.disconnected.title{% endtrans %}{% endblock %}

{% block body %}
	<h3>{% trans %}game_session.disconnected.message {% endtrans %}</h3>
	<h2>{{ game_session.getName() }}</h2>
{% endblock %}