{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}game_session.without_permission.title{% endtrans %}{% endblock %}

{% block body %}
	<h3>{% trans %}game_session.without_permission.message {% endtrans %}</h3>
{% endblock %}