{% extends 'base.html.twig' %}

{% block body %}
<h1>Create Game Sesion</h1>

{{ form(form) }}

</br>

<form action="{{ path('game_session_homepage') }}">
	<input type="submit" value="Cancel">
</form>
{% endblock %}