{% extends 'base.html.twig' %}

{% block body %}
<h1>Game index</h1>
</br>
<form action="{{ path('create_game_session') }}">
	<input type="submit" value="Create Game Sesion">
</form>
</br>
<form action="{{ path('game_sessions') }}">
	<input type="submit" value="Join Game Sesion">
</form>
</br>
<form action="{{ path('app_index') }}">
	<input type="submit" value="Return">
</form>
{% endblock %}
