{% extends 'base.html.twig' %}

{% block title %}{% trans %}add_character_sheet.error.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}add_character_sheet.error.title{% endtrans %}</h1>
	</br>
	<h3>{{ error_message }}</h3>

{% endblock %}