{% extends 'base.html.twig' %}

{% block title %}Palantir{% endblock %}

{% block body %}

    <h1>Welcome to Palantir project,
    {% if app.user == true %}
    	{{ app.user.username }}
	{% endif %}
    </h1>
{% endblock %}

{% block javascripts %}

	{% javascripts '@GameSessionBundle/Resources/public/js/* '%}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}