{% extends 'base.html.twig' %}

{% block title %}{% trans %}game_session.removed.title{% endtrans %}{% endblock %}

{% block body %}
	<h3>{% trans %}game_session.removed.message {% endtrans %}</h3>
{% endblock %}