<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	function usePopup (title, body, footer) {

		if ($('#myModal').is(':visible')) {
			var executed = false;
			$('#myModal').on('hidden.bs.modal', function (oneTime) {
				if (executed == false) {
					$('#myModal > .modal-dialog > .modal-content > .modal-header > .modal-title').html(title);
					$('#myModal > .modal-dialog > .modal-content > .modal-body').html(body);
					$('#myModal > .modal-dialog > .modal-content > .modal-footer').html(footer);
					$('#myModal').modal('show');
				}
				executed = true;
			})
		}
		else {
			$('#myModal > .modal-dialog > .modal-content > .modal-header > .modal-title').html(title);
			$('#myModal > .modal-dialog > .modal-content > .modal-body').html(body);
			$('#myModal > .modal-dialog > .modal-content > .modal-footer').html(footer);
	        $('#myModal').modal('show');
		}
	}

	function closePopup () {
		$('#myModal').modal('hide');
		$('#myModal > .modal-dialog > .modal-content > .modal-header > .modal-title').empty();
		$('#myModal > .modal-dialog > .modal-content > .modal-body').empty();
		$('#myModal > .modal-dialog > .modal-content > .modal-footer').empty();
	}

	function getModalTitle() {
		return $('#myModal > .modal-dialog > .modal-content > .modal-header > .modal-title').html();
	}

	function setModalTitle(text) {
		$('#myModal > .modal-dialog > .modal-content > .modal-header > .modal-title').html(text);
	}

	function getModalBody() {
		return $('#myModal > .modal-dialog > .modal-content > .modal-body').html();
	}

	function setModalBody(text) {
		$('#myModal > .modal-dialog > .modal-content > .modal-body').html(text);
	}
	
	function getModalFooter() {
		return $('#myModal > .modal-dialog > .modal-content > .modal-footer').html();
	}

	function setModalFooter(text) {
		$('#myModal > .modal-dialog > .modal-content > .modal-footer').html(text);
	}
</script>