<script type="text/javascript">

	function subscribeUserSettings(payload) {
		switch(payload.option) {
		case 'show_users_request':
			var users_connected = JSON.parse(payload.users_connected_json);
			popupShowUsers(users_connected);
			break;
		}
	}

	function popupShowUsers (users_connected) {
		var title = "{% trans %}secondary_menu.settings.show_users.title{% endtrans %}";

		var body = '';

		for (var user_connected in users_connected) {
			body = body + ' \
			<div id="form" class="form-inline"> \
				<div class="form-group"> \
					<label class="control-label">'+users_connected[user_connected]+'</label> \
				</div> \
		        &nbsp; \
	        </div></br>';
		}
		
		var footer = "";
					
		usePopup(title, body, footer);
	}
</script>