<script type="text/javascript">

//Global variables
	var maximum_number_of_dice = 25;
//Global variables

	function subscribeUtilities(payload) {
		switch(payload.option) {		
		case 'throw_dice':
			break;
		}
	}

	$( '#dice_open_panel_button' ).on('click', function() {
		var title = '{% trans %}game_session.throw_dice.title{% endtrans %}';
		var body = generatePreSelectDiceButtons();
		
		usePopup(title, body, '');
	});

	function generatePreSelectDiceButtons() {
		var dice_buttons = '';
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(4));
		dice_buttons = dice_buttons.concat(' ');
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(6));
		dice_buttons = dice_buttons.concat(' ');
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(8));
		dice_buttons = dice_buttons.concat(' ');
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(10));
		dice_buttons = dice_buttons.concat(' ');
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(12));
		dice_buttons = dice_buttons.concat(' ');
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(20));
		dice_buttons = dice_buttons.concat(' ');
		dice_buttons = dice_buttons.concat(generatePreSelectDiceButton(100));
		return dice_buttons;
	}

	function generatePreSelectDiceButton(dice_type) {
		return '<button value="'+dice_type+'" type="button" class="btn btn-primary pre-select-dice">d'+dice_type+'</button>';
	}

	$( '#myModal' ).on('click', '.pre-select-dice', function() {
		var new_dice_value = $(this).attr('value');
		var allow_new_dice = true;
		
		$( '.select-dice' ).each(function() {
			if ($( this ).attr('value') == new_dice_value) {
				allow_new_dice = false;
			}
		});

		if (allow_new_dice == true) {
			var footer = getModalFooter();
			if (footer == '') {
				var throw_button = '<button id="throw_dice" type="button" class="btn btn-success">{% trans %}game_session.throw_dice.throw_button{% endtrans %}</button>';
				addModalFooter(throw_button);
			}
			addModalFooter(generateDiceThrowDiv($(this).attr('value')));
		}
	});

	$( '#myModal' ).on('click', '#die_to_throw_add_button', function() {
		var number_of_dice = $( this ).siblings('#die_to_throw_count').val();
		if (number_of_dice < 25) {
			$( this ).siblings('#die_to_throw_count').val(++number_of_dice);
		}
	});

	$( '#myModal' ).on('click', '#die_to_throw_add_five_button', function() {
		var number_of_dice = $( this ).siblings('#die_to_throw_count').val();
		if (number_of_dice >= maximum_number_of_dice - 5) {
			$( this ).siblings('#die_to_throw_count').val(maximum_number_of_dice);
		}
		else {
			number_of_dice =  parseInt(number_of_dice) + 5;
			$( this ).siblings('#die_to_throw_count').val(number_of_dice);
		}
	});

	$( '#myModal' ).on('click', '#die_to_throw_subtract_button', function() {
		var number_of_dice = $( this ).siblings('#die_to_throw_count').val();
		if (number_of_dice == 1) {
			$(this).parent().remove();
		}
		else {
			$( this ).siblings('#die_to_throw_count').val(--number_of_dice);
		}
	});

	$( '#myModal' ).on('click', '#die_to_throw_name_button', function() {
		$(this).parent().remove();
	});

	function generateDiceThrowDiv(dice_type) {
		return ' \
			<div id="die_to_throw" value="'+dice_type+'" class="select-dice btn-group"> \
				<span id="die_to_throw_name_button" class="btn btn-danger">d'+dice_type+'</span> \
				<input id="die_to_throw_count" class="col-xs-3 value-select-dice" min="1" max="25" value="1" readonly> \
				<button id="die_to_throw_add_button" type="button" class="btn btn-success">+</button> \
				<button id="die_to_throw_add_five_button" type="button" class="btn btn-success">+5</button> \
				<button id="die_to_throw_subtract_button" type="button" class="btn btn-danger">-</button> \
			<div>'
	}
</script>