{% extends 'base.html.twig' %}

{% block title %}{% trans %}character_sheet.edit.title{% endtrans %}{% endblock %}

{% block body %}
    
	<h1>{% trans %}character_sheet.edit.title{% endtrans %}</h1>
	</br>

    {{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form', 'novalidate': 'novalidate'} }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script>
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }
        var request_derivation_fields = getJSonObject("{{request_derivation_fields|json_encode()}}");

        $.each( request_derivation_fields, function( key, value ) {
        	$('[id-form="'+value+'"]').change(function(){
        		var is_only_number = /^\d+$/;
        		if (is_only_number.test( $('[id-form="'+value+'"]').val()) ) {
            		data = $('#form').serialize() + "&id_modified=" + value;

                    $.ajax({
                        url : window.location.href,
                        type: 'POST',
                        dataType : 'json',
                        data : JSON.parse(JSON.stringify(data) ),
                        success: function(data) {
                            for (datum in data) {
                            	$('[id-form="'+datum+'"]').val(data[datum]);
                            }
                        }
                    });
            	}
        		else {
        			$('[id-form="'+value+'"]').val('');
            	}
        	})
        });
	</script>
{% endblock %}