{% extends 'base.html.twig' %}

{% block title %}{% trans %}game_session.already_connected.title{% endtrans %}{% endblock %}

{% block body %}
	<h2>{{ game_session.getName() }}</h2>
	<h3>{% trans %}game_session.already_connected.message {% endtrans %}</h3>
{% endblock %}